body {
  background: #f823f8c2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/273/144/23/painting-art-modern-art-acrylic-paint-wallpaper-preview.jpg");
  position: relative;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 1em 0;
  overflow: hidden;
}
body::after {
  content: "";
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #221f03ec;
  background-image: linear-gradient(
    66deg,
    rgb(0, 140, 255),
    rgba(250, 59, 234, 0.856),
    rgba(128, 0, 128, 0.589),
    rgba(0, 128, 128, 0.493)
  );
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 0;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}
button {
  z-index: 1;
  padding: 1rem;
  font-size: 2rem;
  color: rgb(3, 63, 63);
  background-image: linear-gradient(
    15deg,
    rgb(46, 2, 13),
    rgb(73, 6, 73),
    rgb(236, 68, 194)
  );
  color: rgb(123, 148, 148);
}
#root {
  background: #28124bde;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 7px 15px 9px rgb(245 228 228);
  z-index: 1;
  overflow: hidden;
  margin-bottom: 4rem;
}

.gritdBox {
  width: 2rem;
  height: 2rem;
  background: #45eec4be;
  margin: 0;
  padding: 0;
}
.gritdBox:hover {
  background: #2b091656;
  transition: smooth;
  box-shadow: -3px 7px 8px 6px #c93535db;
}

.hoverBox {
  background: #e1b9ebe3;
}

@media screen and (max-width: 448px) {
  #root {
    width: 90vw;
  }
}
